

@font-face {
    font-family: "LeagueSpartan";
    src: url('/LeagueSpartan.ttf');
    
}



:root {
    --primary   : #D82B2B;
    --secondary : #ffa3a3;
    --tertiary  : #FFE5E6;
    
    --white     : #FFFFFF;
    --grey     : #F1F1F1;
    --black     : #121212;
    --dark      : #262626;
    
    --background : var(--white);
    --container  : var(--grey);
    --alternatif : var(--black );
    --text       : var(--black);
    
    --shadow     : 0px 0px 10px rgba(0, 0, 0, 0.13);
}

@media (prefers-color-scheme: dark) {
    :root {
        --secondary : #771f1f;
        --background : var(--black);
        --container  : var(--dark );
        --alternatif : var(--white);
        --text       : var(--white);
        --shadow     : 0px 0px 10px rgba(0, 0, 0, 0.25);
    }
}

html,body {
    margin:0;
    background-color: var(--background);
    color: var(--text);
}

*,input {
    font-family: "LeagueSpartan";
    
}

button {
    color:var(--background);
}


table {
    color : var(--text);
    border-collapse: collapse;
}

table td, table th{
    outline: 0;
    vertical-align: middle;
    position: relative;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid var(--container);
    height: 50px;
}

table tr {
    outline: 0;
    height: 70px;
}

table img {
    height: 100%;
}

.ce-block--drop-target .ce-block__content:before {
    /* Avoids a bug when dragging over the arrow */
    pointer-events: none;
  }
  
  .ce-block--drop-target .ce-block__content:after {
    /* Hides the default dashes */
    background: none;
  }
  
  .ce-block--drop-target
    .ce-block__content[style*='border-top: 1px dashed rgb(170, 170, 170);']:before {
    /* The fragile rule that moves the arrow, not only for the first element but all elements above the source */
    top: 0;
  }

  form {
    gap:10px;
    display: flex;
    flex-direction: column;
}

label,input,select,textarea {
    /* font-size: 20px; */
    font-family: "Nanami";
    color : var(--text);
}

input,select,textarea{
    padding:10px;
    outline: unset;
    border: unset;
    background-color: var(--container);
    box-shadow: var(--shadow);
    border-radius: 10px;
}


textarea{
    resize: vertical;
}

a {
    color:var(--primary);
    transition: 0.5s;
    text-decoration: unset;
}
a:hover {
    color:var(--secondary);
}

a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}