@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: "LeagueSpartan";
        src: url('/fonts/LeagueSpartan/LeagueSpartan.ttf');
    }

    .font-outline {
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
    }

    :root {
        /* Couleurs Spéciales */
        --color-primary  : 216 43 43;
        --color-secondary: 255 163 163;
        --color-tertiary : 255 229 230;


        /* Couleurs Texte */
        --color-container-100 : 18 18 18;
        --color-container-200 : 27 27 27;
        --color-container-300 : 37 37 37;
        --color-container-400 : 48 48 48;
        
        /* Couleurs Background */
        --color-container-600 : 215 215 215;
        --color-container-700 : 228 228 228;
        --color-container-800 : 242 242 242;
        --color-container-900 : 255 255 255;
    }

    @media (prefers-color-scheme: dark) {
        :root {   
            --color-secondary     : 119 31 31;

            --color-container-100 : 255 255 255;
            --color-container-200 : 242 242 242;
            --color-container-300 : 228 228 228;
            --color-container-400 : 215 215 215;

            --color-container-600 : 48 48 48;
            --color-container-700 : 37 37 37;
            --color-container-800 : 27 27 27;
            --color-container-900 : 18 18 18;
        }
    }
}