@font-face {
    font-family: "LeagueSpartan";
    src: url('./fonts/LeagueSpartan.ttf');
}

@font-face {
    font-family: "NanamiBlack";
    src: url('./fonts/Nanami-Heavy.otf');
}

@font-face {
    font-family: "Nanami";
    src: url('./fonts/Nanami-Light.otf');
}


html,body {
    margin:0;
    background-color: var(--background);
}

* {
    font-family: "LeagueSpartan";
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
}

button {
    color:var(--background);
}

form {
    gap:10px;
    display: flex;
    flex-direction: column;
}

label,input,select,textarea {
    font-family: "Nanami";
    color : var(--text);
}
input,select,textarea{
    padding:10px;
    outline: unset;
    border: unset;
    background-color: var(--container);
    box-shadow: var(--shadow);
    border-radius: 10px;
}


textarea{
    resize: vertical;
}